.labels{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    color: rgb(109, 106, 106);
}
.labels label{
    font-size: 1.5rem;
    text-shadow: 0px 0px 5px white;
}
.inputs{
    margin-top: 1rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 10px;
    
}
.inputs input{
    width: 50%;
    border : none;
    height: 2rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    background: transparent;
}
.inputs input:focus{
    outline: none;
}

.inputs select{
    width: 20%;
    height: 2rem;
    border: none;
    font-size: 1.5rem;
    background: transparent;
    box-shadow: 0px 0px 2px black;
    padding: 0.2rem;
    border-radius: 5px;
}
.inputs select:focus{
    outline: none;
}
@media (max-width:550px){
    .inputs select{
        width: 35%;
    }
}